{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}

<style>
 
hr{
    background: #17a2b8; font-weight: bold;
}
</style>

{% endblock %}
{% block body %}
<div class="container-fluid">
        <!-- <div class="row">
            <div class="col-md-12 bg-info text-light">
            
            </div>
        </div> -->
        <div class="row " style="margin-top: 100px;">
            <div class="col-md-12 col-sm-12 mt-5 px-0">
                     <div class="carousel slide py-10" data-ride="carousel" id="abcde">
                        <ul class="carousel-indicators ">
                        <li class="active"data-target="#abcde" data-slide-to="0"></li>
                        <li data-target="#abcde" data-slide-to="1"></li>
                        <li data-target="#abcde" data-slide-to="2"></li>
                        <li data-target="#abcde" data-slide-to="3"></li>
                       
                        </ul>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/lab.jpg' %}" height="400"width="100%">
                             <div class="carousel-caption">
                                <h3 style="color: blue;">Your Success Our Passion</h3>
                               <h5 style="color: blue;"> Education Should be exercised,it has become Message</h5>
                             </div>
                        </div>
                        <div class="carousel-item">
                                <img src="{% static 'images/sky.jpg'%}"height="400"width="100%">
                                <div class="carousel-caption">
                                   <h3  style="color: blue;"> Warm Smiles are Just the Start</h3>
                                  <h5 style="color: blue;"> Unless you try to do something beyond what you havealready mastered,you will never grow </h5>
                                </div>
                        </div>
                               
                        <div class="carousel-item ">
                                            <img src="{% static 'images/girls.jpg'%}"height="400"width="100%">
                                        <div class="carousel-caption">
                                            <h3 style="color: blue;">Quality is Our key</h3>
                                           <h5 style="color: blue;">Education is progressive Discovery of our own ignorance</h5>
                                        </div>
                         </div>
                                        <div class="carousel-item ">
                                                <img src="{% static 'images/gate.jpg'%}"height="400"width="100%">
                                                <div class="carousel-caption">
                                                    <h3 style="color: blue;">HardWork is the key of success</h3>
                                                   <h5>Success belongs to those who believe in the power of their ideas</h5>
                                                </div>
                                        </div>
                                        
                                </div>
                              </div>
            </div> 
        </div> <hr/> 
        <div class="row">
            <div class="col-md-12 text-info align-center ">
                <h1 style="text-align: center;">Hello!!</h1>
                <h3 style="color:gray; text-align: center;">Welcome to CDL Govt. Polytechnic,Nathusari Chopta</h3>
            </div>
        </div>
                                   
                                        <!-- <div class="col-md-4">
                                         <h2> College</h2>
                                       <h5>CDL Government Polytechnic Nathusari Chopta,a co-educational Technical institute,was established
                                        in the memory of Ch.Devi Lal.It is situated at just 1.5KMon the outskirts of village nathusari Chopta
                                        and 18KM from ISBT Sirsa.The establishment of this institute not only brought jobs oriented subsidized
                                        at the door step of rural people but also give wings to the desire of those who were kept aloof from the 
                                        quality education.</h5> -->
                                    
        <div class="row text-center bg-info">
                                <div class="col-md-12 col-10 bg-info text-center ">
                                    <h2 style="color:whitesmoke;margin-left: 10px;text-decoration: underline; "> About Hostel</h2>
                                   
                                    <ul type="square" style="color:white;">
                                        <li style="font-size:30px;text-align: center;" >Three Hostels are there:
                                            <ol style="font-size:20px; font-family:cursive;text-align: center;">
                                                <li>Senior Boys Hostel</li>
                                                <li>Junior Boys Hostel</li>
                                                <li>Girls Hostel</li>
                                            </ol>
                                        </li>
                                        <li style="font-size:30px;">Providing Best Facilities
                                        <ol  style="font-size:20px; text-align: center; font-family:cursive;">
                                            <li>Breakfast</li>
                                            <li>Lunch</li>
                                            <li>Dinner</li>
                                            <li>Free Wifi</li>
                                            <li>T.V.</li>
                                            <li>Bed</li>
                                            <li>Almirah</li>
                                            <li>Chair</li>
                                            <li>Table</li>
                                            <!-- According to menu of the day.... -->
                                        </ol>
                                        </li>
                                        <li style="font-size: 30px;">Friendly Environment</li>
                                        <li style="font-size:30px;">Cheap and Eco Friendly</li>
                                    </ul>
                                </div>
        </div>
                                <div class="row">
                                    <div class="col-md-12 mt-5 col-sm-12">
                                        <p style="font-family: cursive;font-size: 20px;">
                                            Our hostel is located in the city's and trendiest district.It is the best hostel in rural area.Our hostel provides best facalities to students.
                                            Many Students belongs to other states live there.And they all live like family.Hostel is managed by Hostel Superintendnt Mr.Abhishek Sagar and Hostel Warden Mr.Jagmel Singh.

                                        </p>
                                    </div>
                                </div>                               
        </div>
        <hr/>
</div>
{% endblock %}