{% extends 'dash.html'%}
{% block code %}
{% if status %}
<script>
    alert("{{status}}");
    wndow.location='/add_student/?rid={{room.id}}'
</script>
{% endif %}
<div style="height:200px;"></div>
<div class="container-fluid">
<div class="row " style="border: 2px;">
    <div class="col-md-4">
       <h2>{{room.hostel_type}} Room No:{{room.room_no}} </h2> 
    </div>
    <div class="col-md-4">
       <h2>Max Sheets: 05</h2> 
    </div>
    <div class="col-md-4">
       <h2>reserved Sheets:{{room.total}}  </h2> 
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>S. ID</th>
                    <th>Name</th>
                    <th>Father's Name</th>
                    <th>Roll No</th>
                    <th>Semester</th>
                    <th>Branch</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <form method="post">
                    {% csrf_token %}
                    {% if room.student1 is not None %}
                    <tr>
                        <td>{{room.student1.id}}</td>
                        <td>{{room.student1.name}}</td>
                        <td>{{room.student1.fathername}}</td>
                        <td>{{room.student1.rollno}}</td>
                        <td>{{room.student1.semester}}</td>
                        <td>{{room.student1.branch}}</td>
                        <input type="hidden" name="rid" value="{{room.id}}">

                        <td>
                            {% if room.student1.is_allocated == True %}
                            <input type="checkbox" name="add[]" value="{{room.student1.id}}" checked >
                            {% else %}
                            <input type="checkbox" name="add[]" value="{{room.student1.id}}" >
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% if room.student2 %}
                    <tr>
                        <td>{{room.student2.id}}</td>
                        <td>{{room.student2.name}}</td>
                        <td>{{room.student2.fathername}}</td>
                        <td>{{room.student2.rollno}}</td>
                        <td>{{room.student2.semester}}</td>
                        <td>{{room.student2.branch}}</td>
                        <input type="hidden" name="rid" value="{{room.id}}">

                        <td>
                            {% if room.student2.is_allocated == True %}
                            <input type="checkbox" name="add[]" value="{{room.student2.id}}" checked >
                            {% else %}
                            <input type="checkbox" name="add[]" value="{{room.student2.id}}" >
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% if room.student3 %}
                    <tr>
                        <td>{{room.student3.id}}</td>
                        <td>{{room.student3.name}}</td>
                        <td>{{room.student3.fathername}}</td>
                        <td>{{room.student3.rollno}}</td>
                        <td>{{room.student3.semester}}</td>
                        <td>{{room.student3.branch}}</td>
                        <input type="hidden" name="rid" value="{{room.id}}">

                        <td>
                            {% if room.student3.is_allocated == True %}
                            <input type="checkbox" name="add[]" value="{{room.student3.id}}" checked >
                            {% else %}
                            <input type="checkbox" name="add[]" value="{{room.student3.id}}" >
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% if room.student4 %}
                    <tr>
                        <td>{{room.student4.id}}</td>
                        <td>{{room.student4.name}}</td>
                        <td>{{room.student4.fathername}}</td>
                        <td>{{room.student4.rollno}}</td>
                        <td>{{room.student4.semester}}</td>
                        <td>{{room.student4.branch}}</td>
                        <input type="hidden" name="rid" value="{{room.id}}">

                        <td>
                            {% if room.student4.is_allocated == True %}
                            <input type="checkbox" name="add[]" value="{{room.student4.id}}" checked >
                            {% else %}
                            <input type="checkbox" name="add[]" value="{{room.student4.id}}" >
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% if room.student5 %}
                    <tr>
                        <td>{{room.student5.id}}</td>
                        <td>{{room.student5.name}}</td>
                        <td>{{room.student5.fathername}}</td>
                        <td>{{room.student5.rollno}}</td>
                        <td>{{room.student5.semester}}</td>
                        <td>{{room.student5.branch}}</td>
                        <input type="hidden" name="rid" value="{{room.id}}">

                        <td>
                            {% if room.student5.is_allocated == True %}
                            <input type="checkbox" name="add[]" value="{{room.student5.id}}" checked >
                            {% else %}
                            <input type="checkbox" name="add[]" value="{{room.student5.id}}" >
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                {% for i in all %}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.fathername}}</td>
                        <td>{{i.rollno}}</td>
                        <td>{{i.semester}}</td>
                        <td>{{i.branch}}</td>
                        <input type="hidden" name="rid" value="{{room.id}}">

                        <td>
                            {% if i.is_allocated == True %}
                            <input type="checkbox" name="add[]" value="{{i.id}}" checked >
                            {% else %}
                            <input type="checkbox" name="add[]" value="{{i.id}}" >
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td><input type="submit" class="btn btn-success" value="Save Changes"></td>
                </tr>
            </form>
            </tbody>
        </table>
    </div>
</div>
</div>
{% endblock %}