<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <script src="{% static 'jquery.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
     <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css'%}">
     <style>
     
     </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class ="col-md-3 col-sm-3 bg-info text-light">
                <h4>Admission</h4>
                <ul>
                    <li>
                        <a href="">Courses</a>
                    </li>
                    <li>
                        <a href="">Hostels</a>
                    </li>
                    <li>
                        <a href="">Fee Structure</a>
                    </li>

                </ul>
            </div><hr/>
            <div class="col-md-3 col-sm-3">
                <h4>Useful Links</h4>
                <ul>
                    <li>
                        <a href="">Placement@CDLGP</a>
                    </li>
                    <li>
                        <a href="">Career@CDLGP</a>
                    </li>

                    <li>
                        <a href="">gpchopta.ac.in</a>
                    </li>
                </ul>
            </div></hr>
            <div class="col-md-3 col-sm-3">
                <h4>About Faculty</h4>
                <ul>
                    <li>
                        <a href="">Principal's Message</a>
                    </li>

                    <li>
                        <a href=""> Learning Resources</a>
                    </li>
                    <li>
                        <a href="">Beyond Academics</a>
                    </li>
                </ul>
            </div><hr/>
            <div class="col-md-3 col-sm-3">
                <h4>Gallery</h4>

                <li>
                    <a href="">Events</a>
                </li>
                <li>
                    <a href="">Virtual Tour</a>
                </li>
                <li>
                    <a href="">Blocks</a>
                </li>
            </div>
        </div>
    </div>
    {% block code %} {% endcode %}
</body>
</html>