<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>my task</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <script src="{% static 'jquery.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
     <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css'%}">
    <style>
    h2{ 
        font-family: cursive;color:skyblue;
    }
    .abc{
    background:skyblue;color: beige;border-radius:40%;font-size: 40px;padding:20px;text-align:center;
    }
    .box,.box1,.box2,.box3{
        background:white;text-align:center;
    }
    ul{
        /* font-size:20px; */ text-align: center;
    }
    @media screen and (max-width:700px){
        .logo2{
            height:50px;width:50px;border-radius: 50%;
        }
        /* .logo2 p{
            font-size: 20px;
            color:red;
        } */
    }
    h3{
       color:blue;
    }
    h5{
       color:blue;
    }
    #abcd{
        position: fixed;
        z-index: 11111;
        width: 100%;
    }
    a{
        color:white;text-decoration:none;
    }
    li{
        list-style-type: none;
    }
    h4{
        text-decoration: underline;margin-right: 5px;
    }
    strong{
    float: left;
}
span{
    float: right;
}
a h4{
    color:black;
}

.navbar-nav{margin:auto;}
.name{height:100px;width:100px;border-radius:50%; text-align:center;line-height:80px;font-size:50px;margin-left:25%;}

    </style>
    {% block head %}{% endblock %}
</head>
<body>
<div class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-0" >
                <nav class="navbar navbar-expand-md bg-info  navbar-dark" id="abcd">
                        <a href="#" class="navbar-brand">
                        <img src="{% static 'images/logo2.jpeg'%}" style="width:100px;height: 70px;" alt="" class="logo2" style="border-radius:50%;"><p>CDL GP,Nathusari Chopta(HOSTEL)</p> </a>
                    <!-- <a href=""class="navbar-brand"style="font-family:arial;font-size:30px;">COLLEGE HOSTEL</a> -->
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#mynav">
                        <span class="navbar-toggler-icon"></span>   
                    </button>
                    <div class="navbar-collapse collapse" id="mynav">
                    <ul class="navbar-nav ml-auto" >
                        <li class="nav-item">
                            
                            <a href="{% url 'index'%}"class="nav-link">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="{% url 'about'%}"class="nav-link">About

                            </a>
                        </li>
                        <li class="nav-item ">
                                <a href="{% url 'register'%}"class="nav-link">Register

                                </a>
                                </li>
                        <li>
                            <a href="{% url 'pcontact'%}"class="nav-link">Contact</a>
                        </li>
                        {% if  user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a href="{% url 'signin'%}"class="nav-link dropdown-toggle" data-toggle="dropdown">
                                <i class="fas fa-user"></i> {{user.username}}
                                <div class="dropdown-menu">
                                    <a href="{% url 'dashboard'%}" class="dropdown-item">Dashboard</a>
                                    <a href="{% url 'uslogout'%}" class="dropdown-item">Logout</a>
                                </div>
                            </a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'signin'%}"class="nav-link">Faculty Login</a>
                        </li>
                        {% endif %}                    
                    </div>
                </nav>
            </div>
        </div>

    </div>
      
    {% block body %} {% endblock %}
    <div class="container-fluid">
        <div class="row text-light bg-info text-center py-3"><hr/>
            <div class="col-md-3 col-sm-3 text-light">
                    <button id="tg2" style="background: cornflowerblue;color:white;">Hostel</button>
                <div class="box2">
                    <h1 style="font-size: 20px;color:#17a2b8; ">
                        <ol>
                            <li>
                                Senior Boys Hostel
                            </li>
                            <li>Junior Boys Hostel</li>
                            <li>Girls Hostel</li>
                        </ol>
                    </h1>
                </div>
                <script>
                    $(function(){
                    $("#tg2").click(function(){
                        $('.box2').toggle(1000);
                    });
                });
                </script>
                </div>
                <div class ="col-md-3 col-sm-3 text-light">
                        <button id="tg1" style="background: cornflowerblue;color:white;">Courses</button>
                               <div class="box1">
                                   <h1 style="font-size: 20px;color: #17a2b8; ">
                                       <ol>
                                           <li>Computer Engg.</li>
                                           <li>Mechanical Engg.</li>
                                           <li>Civil Engg.</li>
                                           <li>Electrical Engg.</li>
                                           <li>Electronics Engg.</li>
                                       </ol>
                                   </h1>
                               </div>
                               <script>
       
                                   $(function(){
                                   $("#tg1").click(function(){
                                       $('.box1').toggle(1000);
                                   });
                               });
                               </script>
                   </div>
                   <div class="col-md-3 col-sm-3">
                        <button id="tg3" style="background: cornflowerblue;color:white;">Useful Links</button>
                        <div class="box3">
                      <h1 style="font-size: 20px; color: #17a2b8;">      
                        <ul>
                            <li>
                                Placement@CDLGP
                            </li>
                            <li>
                                Career@CDLGP
                            </li>
                            
                            <li>
                                gpchopta.ac.in
                            </li>
                        </ul>
                        </h1>
                    </div>
                    <script>
                            $(function(){
                            $("#tg3").click(function(){
                                $('.box3').toggle(1000);
                            });
                        });
                        </script>
                    </div> 
                    
                   
            <div class="col-md-3 col-sm-3 text-light">
                    <button id="tg" style="background: cornflowerblue;color:white;">Principal's message</button>
                    <div class="box">
                    <h1 style="font-size: 20px;color: #17a2b8; ">Francis Becon rightly said,"Knowledge is power".It helps you to reach your destination and in order to acquire it;there 
                        is no valuable substitute to class room learning.So,you are advised to attend 100% of your classes...
                    </h1></div>
                    <script>
                    $(function(){
                    $("#tg").click(function(){
                        $('.box').toggle(1000);
                    });
                });
                </script>
            </div>
        </div>
    </div>

</body>
</html>
            
        
                    
                       
                    
                   
                
                
            
          
            
                    
                   
                    <!-- <li>
                        <a href=""> Learning Resources</a>
                    </li>
                    <li>
                        <a href="">Beyond Academics</a>
                    </li> -->
               
            <!-- <div class="col-md-3 col-sm-3">
                <h4>Gallery</h4>
                
                <li>
                    <a href="">Events</a>
                </li>
                <li>
                    <a href="">Virtual Tour</a>
                </li>
                <li>
                    <a href="">Blocks</a>
                </li> -->
 