{% extends "dash.html"%}
{% block head %}
<style>
strong{
    float: left;
}
span{
    float: right;
}
</style>
{% endblock %}

{% block code %}
{% if status %}
<script>
    alert("{{status}}");
</script>
{% endif %}
<section>
    <div class="container-fluid mt-5 py-5">
        <div class="row pt-5">
        {% if room %}
        <div class="col-md-6 alert alert-info my-3">
            <h1>Total Students: {{total}}</h1>
        </div>
        <div class="col-md-6 alert alert-secondary my-3">
            <h1>Room No: {{room.room_no}} ({{room.hostel_type}})</h1>
        </div>
        {% else %}
            <div class="col-md-4 my-3">
                <h1>Dashboard({{total}})</h1>
                <div style="height:2px;width:20%;background:#17a2b8;"></div>
            </div>
        {% endif %}
        </div>
        <div class="row">
           {% for i in all %}
            <div class="col-md-4">
                <div class="p-2 m-2" style="box-shadow:0px 0px 20px gray;">
                    <img src="/media/{{i.photo}}" height="200" width="100%">
                   <p>
                       <strong>Roll No:</strong><span>{{i.rollno}}</span> <br/>
                        <strong>Name:</strong><span>{{i.name}}</span><br/>
                       <strong>Branch:</strong><span>{{i.branch}}</span><br/>
                        <strong>Semester:</strong><span>{{i.semester}}</span><br/>
                </p>
                {% if room %}
                <a href="{% url 'st_details'%}?id={{i.id}}&&room={{room.id}}" class="btn btn-success">View Details</a>
                <a href="{%url 'delete_student'%}?sid={{i.id}}&&rid={{room.id}}" class="btn btn-danger">Delete Permanently</a>
                {% else %}
                <a href="{% url 'st_details'%}?id={{i.id}}" class="btn btn-success">View Details</a>
                {% endif %}
                </div>
            </div>
           {% endfor %}
        </div>
    </div>
</section>
{% endblock %}