{% extends 'base.html'%}
{% load staticfiles %}
{% block head %}
<style>
</style>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 bg-secondary pt-5 sticky-top">
            <nav class="navbar dnav bg-secondary navbar-dark mt-5 pt-5">
                <a href="" class="navbar-brand d-block name bg-light text-secondary">{{user.username.0}}</a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{% url 'dashboard'%}" class="nav-link">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link dropdown-toggle" data-toggle="collapse" data-target="#hos">All Rooms</a>
                        <div class="collapse" id="hos">
                            <a href="{% url 'rooms'%}?type=SBH" class="nav-link">Senior Hostel Rooms</a>
                            <a href="{% url 'rooms'%}?type=JBH" class="nav-link">Junior Hostel Rooms</a>
                            <a href="{% url 'rooms'%}?type=GH" class="nav-link">Girls Hostel Rooms</a>
                            
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'uslogout'%}" class="nav-link">Logout</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-10">
            {% block code %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}