{% extends "dash.html"%}
{% block head %}
{% if status %}
<script>
alert("{{status}}")
window.location = '/dashboard'
</script>
{% endif %}
<style>
strong{
    float: left;
}
span{
    float: right;
}
a h4{    
    color:black;
}
td a{color:blue;}
</style>
{% endblock %}
{% block code %}
<section>
    <div class="container-fluid my-5  pt-5">
        <div class="row py-5">
            <div class="col-md-4 my-3">
                <h1>Student Details</h1>
                <div style="height:2px;width:20%;background:#17a2b8;"></div>
            </div>
        </div>
        <div class="row">
           <div class="col-md-8 mx-auto p-4" style="box-shadow:0px 0px 20px gray;">
            
            <table class="table table-striped table-hover ">
                <tr>
                    <div class="row">
                        <div class="col-md-3">
                            <a href="/media/{{d.photo}}" target="_blank">
                                <img src="/media/{{d.photo}}" height="150" width="100%" class=" rounded-circle">
                                <h4>Photo</h4>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="/media/{{d.resultproof}}" target="_blank">
                                <img src="/media/{{d.resultproof}}" height="150" width="100%">
                                <h4>Result Proof</h4>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="/media/{{d.hostel_fee}}" target="_blank">
                                <img src="/media/{{d.hostel_fee}}" height="150" width="100%">
                                <h4>Hostel Fee Slip</h4>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="/media/{{d.electric_fee}}" target="_blank">
                                <img src="/media/{{d.electric_fee}}" height="150" width="100%">
                                <h4>Electric fee Slip</h4>
                            </a>
                        </div>
                    </div>
                </tr>
                <tr>
                    <th>Subtitle</th>
                    <td>{{d.subtitle}}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{d.name}}</td>
                </tr>
                <tr>
                    <th>Roll No.</th>
                    <td>{{d.rollno}}</td>
                </tr>
                <tr>
                    <th>Father's Name</th>
                    <td>{{d.fathername}}</td>
                </tr>
                <tr>
                    <th>Mother's Name</th>
                    <td>{{d.mothername}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{d.email}}</td>
                </tr>
                <tr>
                    <th>Mobile No.</th>
                    <td>{{d.mobileno}}</td>
                </tr>
                <tr>
                    <th>Branch</th>
                    <td>{{d.branch}}</td>
                </tr>
                <tr>
                    <th>Semester</th>
                    <td>{{d.semester}}</td>
                </tr>
                <tr>
                    <th>Permanent Address</th>
                    <td>{{d.permanentaddress}}</td>

                </tr>
                {% if room %}
                <tr>
                    <th>Room No:</th>
                    <td>{{room.id}}</td>
                </tr>
                <tr>
                    <th>Roomates:</th>
                    <td>
                        <a href="{% url 'st_details'%}?id={{room.student1.id}}&&room={{room.id}}">{{room.student1.name}}</a>
                        <a href="{% url 'st_details'%}?id={{room.student2.id}}&&room={{room.id}}">{{room.student2.name}}</a>
                        <a href="{% url 'st_details'%}?id={{room.student3.id}}&&room={{room.id}}">{{room.student3.name}}</a>
                        <a href="{% url 'st_details'%}?id={{room.student4.id}}&&room={{room.id}}">{{room.student4.name}}</a>
                        <a href="{% url 'st_details'%}?id={{room.student5.id}}&&room={{room.id}}">{{room.student5.name}}</a>
                        
                    </td>
                </tr>
                {% else %}
                <tr> 
                    <th>Action</th>
                    <td>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{d.id}}" name="sid">
                        <button type="submit" name="approve" class="btn btn-success">Approve</button>
                        <button type="submit" name="reject" class="btn btn-danger">Reject</button>
                        </form>
                    </td>
                </tr>
                {% endif %}
            </table>
           
           </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-12">
                <button class="btn btn-success">Approve</button>
                <button class="btn btn-danger">Disapprove</button>
        </div> -->
    </div>
</section>

{% endblock %}