{% extends 'dash.html'%}
{% block head %}
<style>
    .emstu li a{
        color:blue;
    }
</style>
{% endblock %}
{% block code %}
<div style="height:200px;"></div>
<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-md-8 mx-auto shadow shadow-lg p-5 m-5">
            <h2>Are you sure want to delete Room No: {{room.room_no}}?</h2>
            <h4>Here are the list of students in this room:</h4>
            <ol class="emstu">
                <li>
                    <a href="{% url 'st_details'%}?id={{room.student1.id}}&&room={{room.id}}">{{room.student1.name}}</a>
                </li>
                <li>
                    <a href="{% url 'st_details'%}?id={{room.student2.id}}&&room={{room.id}}">{{room.student2.name}}</a>
                </li>
                <li>
                    <a href="{% url 'st_details'%}?id={{room.student3.id}}&&room={{room.id}}">{{room.student3.name}}</a>
                </li>
                <li>
                    <a href="{% url 'st_details'%}?id={{room.student4.id}}&&room={{room.id}}">{{room.student4.name}}</a>
                </li>
                <li>
                    <a href="{% url 'st_details'%}?id={{room.student5.id}}&&room={{room.id}}">{{room.student5.name}}</a>
                </li>
            </ol>
            <a href="{% url 'empty_room'%}?rid={{room.id}}&&ac=true" class="btn btn-success">Continue</a>
            <a href="{% url 'rooms'%}?type={{room.hostel_type}}" class="btn btn-danger">Cancel</a>
        </div>
    </div>
</div>
{% endblock%}