{% extends "base.html"%}
{% block head %}
<style>
/* body{
    display:flex;position:absolute;align-items:center;justify-content: center;background:linear-gradient(lightseagreen 50% ,wheat 50%)
}
.box{
    height:200px;width:200px;
} */
</style>
{% endblock %}
{% block body %}
{% if status %}
<script>
    alert("{{status}}");
</script>
{% endif %}
<section>
    <div class="container-fluid my-5  pt-5">
        <div class="row py-5">
            <div class="col-md-4 mx-auto my-3">
                <h1>Sign In</h1>
                <div style="height:2px;width:20%;background:#17a2b8;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mx-auto">
                <form method="post" >
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="">Username</label>
                        <input type="text" name="un" class="form-control" placeholder="Enter Username">
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" name="pas" class="form-control" placeholder="Enter Password">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-info" placeholder="Enter Username">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}