{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
<style>
hr{
    background: #17a2b8; font-weight: bold;
} 
</style>

<div class="container-fluid ">
        <div class="row" style="margin-top:150px;">
            <div class="col-md-12  px-0 ">
                <div class="carousel slide py-10" data-ride="carousel"  id="ab"  >
                    <ul class="carousel-indicators">
                        <li class="active" data-target="#ab" data-slide-to="0"></li>
                        <li data-target="#ab" data-slide-to="1"></li>
                        <li data-target="#ab" data-slide-to="2"></li>
                        <li data-target="#ab" data-slide-to="3"></li>
                    </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'images/lab.jpg'%}"height="400"width="100%">
                      <div class="carousel-caption">
                        <h3>Success is a series of small wins</h3>
                        <h5>Success belongs to those who believe in the power of their ideas</h5>
                      </div>
                    </div>
                    <div class="carousel-item">
                            <img src="{% static 'images/sky.jpg'%}"height="400"width="100%">
                            <div class="carousel-caption">
                                <h3>Quality is Our key</h3>
                                <h5> Education is progressive Discovery of our own ignorance</h5>
                            </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/girls.jpg'%}"height="400"width="100%">
                        <div class="carousel-caption">
                            <h3>Dream bigger do bigger</h3>
                            <h5>successful people never worry about what others are doing</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                         <img src="{% static 'images/gate.jpg'%}"height="400"width="100%">
                        <div class="carousel-caption">
                            <h3>Don't hope for it,Work for it</h3>
                                <h5>The Future belongs to those who beleive in the beauty of their dreams</h5> 
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12 text-info text-center">
                <h1 style="text-decoration: underline;margin: auto;">FACILITIES</h1>
                <h5 style="font-family: cursive;color:gray;word-spacing:10px;">Offered By Our Hostel</h5>
            </div>
        
            <div class="col-md-4 text-center mt-4">
                <i class="fas fa-mug-hot abc"></i>
                <h2>Tea</h2>
            </div>
        
            <div class="col-md-4  text-center mt-4">
                <i class="fas fa-concierge-bell abc"></i>
                <h2>Reception</h2>
            </div>
        
            <div class="col-md-4  text-center mt-4">
                <i class="fas fa-shower abc"></i>
                <h2>Shower</h2>
            </div>
    
        <div class="col-md-4  text-center mt-4">
            <i class="fas fa-chair abc"></i>
            <h2>Chair</h2>
        </div>
        
        <div class="col-md-4  text-center mt-4">
            <i class="fas fa-bed abc"></i>
            <h2>Bed</h2>
        </div>
        
        <div class="col-md-4  text-center mt-4">
            <i class="fas fa-fan abc"></i>
            <h2>Fan</h2>
        </div>
        
        <div class="col-md-4  text-center mt-4">
            <i class="fas fa-lightbulb abc"></i>
            <h2> Bulb</h2>
        </div>
        
        <div class="col-md-4 text-center mt-4">
        <i class="fas fa-wifi abc"></i>
        <h2>Free Wifi</h2>        
        </div>   
        <div class="col-md-4 text-center mt-4">
            <i class="fas fa-tv abc"></i>
            <h2>Free T.V.</h2>        
            </div>   
        </div><hr/>
        <div class="row">
        <div class="col-md-12 px-0">
                <h1 style="text-decoration: underline;text-align:center;color:#17a2b8;">Rooms</h1>
                <h5 style="font-family: cursive;color:gray;word-spacing:10px;text-align:center;" class="pb-5">MORE ACCOMODATIONS</h5>
            <div class="carousel slide" data-ride="carousel" id="abc">
                <ul class="carousel-indicators">
                    <li class="active"data-target="#abc" data-slide-to="0"></li>
                    <li data-target="#abc" data-slide-to="1"></li>
                    <li data-target="#abc" data-slide-to="2"></li>
                    <li data-target="#abc" data-slide-to="3"></li>
                    <li data-target="#abc" data-slide-to="4"></li>
                    
                </ul>
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <img src="{% static 'images/hr1.jpg'%}"height="400"width="100%">
                    </div>
                    <div class="carousel-item ">
                        <img src="{% static 'images/hr2.jpg'%}"height="400"width="100%">
                    </div>
                    <div class="carousel-item ">
                        <img src="{% static 'images/hr3.jpg'%}"height="400"width="100%">
                    </div>
                    <div class="carousel-item ">
                        <img src="{% static 'images/hr4.jpg'%}"height="400"width="100%">
                    </div>
                    <div class="carousel-item ">
                        <img src="{% static 'images/hr5.jpg'%}"height="400"width="100%">
                    </div>
                </div>
        </div>
    </div>
        </div>
</div>  <hr/>
{% endblock %}