{% extends 'base.html'%}
{% block body %}
<style>
hr{
    background: #17a2b8; font-weight: bold;
}
</style>
{% if status %}
    <script>
        alert("{{status}}");
        window.location='/'
    </script>
{% endif %}
    <div class="container-fluid">
        <div class="row" style="margin-top:110px;">
            <div class="col-md-12 ">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3476.4942915302668!2d75.12166051828228!3d29.385093026198476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3911570e9aaaaaad%3A0xb233dbe202f194d6!2sCDL+Govt.+Polytechnic!5e0!3m2!1sen!2sin!4v1562913155556!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6 border border-dark mt-4 mx-auto bg-info">
                    <h1>Contact us</h1>
                    <hr class="bg-primary w-25" align="left" style="height:2px;">
                    <form method="post">
                     {% csrf_token %} 
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="">Subtitle</label>
                                        <select class="form-control" name="sub">
                                            <option value="Mr.">Mr.</option>
                                            <option value="Miss">Miss.</option>
                                        </select>
                                    </div>
                                </div>
                            <div class="col-md-5">
                                <label>First Name</label>
                                <input type="text" class="form-control" name="fn">
                            </div>
                            <div class="col-md-5">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" name="ln">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Message</label>
                            <textarea class="form-control" rows="5" name="msz"></textarea>
                        </div>
                        <div class="form-group abc">
                            <input type="submit" value="Send feedback">
                        </div>
                    </form>
        
        
            <div class="col-md-12">
                <h3 style="font-size:20px;">CDL Govt.Polytechnic,Nathusari Chopta</h3>
                <h5>Mobile: +91-1666-256537</h5>
                <h5>Email: contact@gpchopta.ac.in<br/>gpchopta@nic.in</h5>
            </div>
        </div>
    </div><hr/> 
   {% endblock%}