{% extends 'base.html'%}
{% block body %}
{% if status %}
<script>
    alert("{{status}}");
</script>
{% endif %}
<div class="container-fluid mt-5">
    <div style="height:60px;"></div>
    <div class="row mt-5 "  >
        <div class="col-md-6 mx-auto text-light  border border-light bg-info" style="box-shadow: 0px 0px 20px gray">
             <h3 class="text-center mt-5 my-3 text-light">Student Registration</h3>
         <form action="" method="post" enctype="multipart/form-data">
             {% csrf_token %}
             <div class="form-group">
                 <div class="row">
                     <div class="col-md-4">
                         <div class="form-group">
                             <label for="">Subtitle</label>
                             <select class="form-control" name="Subtitle">
                                 <option value="Mr.">Mr.</option>
                                 <option value="Miss.">Miss.</option>
                             </select>
                         </div>
                     </div>
                 <div class="col-md-8">
                     <label> Name</label>
                     <input name="name" type="text" class="form-control"placeholder="Enter name"required pattern="[A-Za-z\s]+" title="must contain charaters only">
                 </div>
    
                 </div>
             </div>
             <div class="form-group">
                 <label>Father's name</label>
                 <input name="fathername" type="text"class="form-control">
             </div>
             <div class="form-group">
                 <label>Mother's name</label>
                 <input name="mothername" type="text"class="form-control" >
             </div>
             <div class="form-group">
                    <label>Roll No.</label>
                    <input name="rollno" type="text"class="form-control" >
                </div>
             <div class="form-group">
                 <label for="">Email</label>
                 <input name="email" type="email"class="form-control"placeholder="Enter email">
             </div>
             <div class="form-group">
                 <label for="">Mobile No.</label>
                 <input name="mobileno" type="number"class="form-control"placeholder="Enter Number">
             </div>
             <!-- <div class="form-group">
                 <label for="">Hostel Fee</label>
                 <input name="HostelFee" type="number"class="form-control">
             </div> -->
             <!-- <div class="form-group">
                     <label for="">Electric Charge</label>
                     <input name="ElectricCharge" type="text"class="form-control">
                 </div> -->
          
                 <div class="form-group">
                     <label>Branches</label>
                     
                     <select name="branch" class="form-control">
                             <option value="CSE">Computer Engg.</option>
                             <option value="MHN">Mechanical Engg.</option>  
                             <option value="CVL">Civil Engg.</option>
                             <option value="ELC">Electrical Engg.</option>
                             <option value="ELE">Electronics Engg.</option>
                  
                         </select>
                 </div>
                 <div class="form-group">
                         <label>Semester</label>
                         
                         <select name="semester" id=""  class="form-control">
                                 <option value="1st">1st</option>
                                 <option value="2nd">2nd</option>  
                                 <option value="3rd">3rd</option>
                                 <option value="4th">4th </option>
                                 <option value="5th">5th</option>
                                 <option value="6th">6th</option>
                      
                             </select>
                     </div>
                     <div class="form-group">
                             <label>Permanent Address</label>
                             <textarea name="permanentaddress"class="form-control" rows="1"></textarea>
                         </div>
                         <div class="form-group">
                             <label for="">Hostel Fee Proof</label>
                             <input type="file" name="hostelfee" class="form-control" required>
                         </div>
                         <div class="form-group">
                             <label for="">Electric Fee Proof</label>
                             <input type="file" name="electricfee" class="form-control" required>
                         </div>
                         <div class="form-group">
                             <label for="">Result Proof</label>
                             <input name="resultproof"type="file"class="form-control" required>
                         </div>
                         <div class="form-group">
                                 <label for="">Photo</label>
                                 <input name="photo" type="file"class="form-control" required>
                             </div>
                             <div class="form-group text-center">
                                 <input type="submit" value="Register" style="" class="btn btn-success">
                             <input type="reset" value="Reset" class="btn btn-danger "></br>
                             <!-- <input type="submit"  class="form-control ab"> -->
                             </div>
                        
                                 
                     
                 </div>
                 
              </form>
        </div>
</div>
{% endblock %}