{% extends "dash.html"%}
{% block head %}
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
{% endblock %}
{% block code %}
<section>
    <div class="container-fluid my-5  pt-5">
        <div class="row py-5">
            <div class="col-md-4 my-3">
                <h1>All Rooms ({{rooms.0.hostel_type}})</h1>
                <div style="height:2px;width:20%;background:#17a2b8;"></div>
            </div>
        </div>
        <div class="row">
           <div class="col-md-12" >
            <table id="mytab" class="table table-bordered table-striped table-hover">
               <thead>
                   <tr>
                       <th>Room No</th>
                       <th>Max Sheets</th>
                       <th>Reserved Sheets</th>
                       <th>Action</th>
                   </tr>
               </thead>
               <tbody>
                   {% for i in rooms %}
                        <tr>
                            <td>{{i.room_no}}</td>
                            <td>5</td>
                            <td>{{i.total}}</td>
                            <td>
                                <a href="{% url 'dashboard'%}?rid={{i.id}}" class="btn btn-warning">View Students</a>
                                <a href="{% url 'add_student'%}?rid={{i.id}}" class="btn btn-success">Add Student</a>
                                <a href="{% url 'empty_room'%}?rid={{i.id}}" class="btn btn-danger">Empty Room</a>
                            </td>
                        </tr>
                   {% endfor %}
               </tbody>
            </table>
           </div>
        </div>
    </div>
</section>
<script>
        $(document).ready( function () {
            $('#mytab').DataTable();
        } );
</script>
{% endblock %}